@import "tailwindcss";

@theme {
  /* Brakpoints */
  --breakpoint-xs: 28rem;
  /* Fonts */
  --font-space: var(--font-space-grotesk);
  --font-nosifer: var(--font-nosifer);
  /* Colors */
  --color-primary: #E61357;
  --color-accent: #810B31;
  --color-dark: #212529;
  /* Animations */
  --animate-scroll-header: scroll-header linear both;
  --shadow-awards: inset 0 2px 8px #fff,0 0 17px rgba(255,255,255,.77),inset 0 1px 10px hsla(0,0%,100%,.55);




  @keyframes scroll-header {
    to {
      top: 0;
      backdrop-filter: blur(8px);
      background: rgba(0,0,0,.5);
    }
  }

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-space-grotesk), Arial, Helvetica, sans-serif;
}

p, li {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}